body {
  --primary-color: #532906;
  --secondary-color: #065319;
  --grey-color: rgba(33, 33, 33, 1);
  --main-icon-color: 40px;
  --button-icon-size: 40px;
  --shadow: -1px 1px 12px -2px rgba(0, 0, 0, 0.6);
  --border: 1px solid rgba(0, 0, 0, 0.4);

  background-color: white;
  color: black;
  margin: 0;
}
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  outline: none;
  text-decoration: none;
  color: currentColor;
  font-size: 1.2em;
}

main {
  grid-area: main;
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 4px;
}
nav {
  grid-area: nav;
  border-right: var(--border);
  border-left: var(--border);
  min-height: 100vh;
  display: flex;
  flex-direction: columns;
  min-width: 240px;
  padding: 8px;
  grid-area: nav;
  background-color: white;
  border-radius: 8px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 240px 48px 980px 1fr;
  grid-template-rows: min-content minmax(90vh, max-content) min-content;
  gap: 12px 12px;
  grid-template-areas:
    "appBar appBar appBar appBar appBar"
    ". nav . main ."
    "footer  footer footer footer footer";
  padding: 0;
  min-height: 100vh;
}
@media (max-width: 1980px) {
  .wrapper {
    grid-template-areas:
      "appBar  appBar appBar appBar appBar "
      " . nav  .  main  .   "
      "footer footer footer  footer footer";
    grid-template-columns: 1fr 240px 12px 800px 1fr;
    gap: 12px 12px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    grid-template-areas:
      "appBar   appBar   "
      "  nav   main "
      "footer  footer   ";
    grid-template-columns: 1fr 4fr;
    gap: 12px 12px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    grid-template-areas:
      "appBar  "
      "  main "
      "footer ";
    grid-template-columns: 100%;
    gap: 12px 12px;
  }
  main {
    box-shadow: none;
  }
  nav {
    border-radius: 0;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-items: center;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--primary-color);
  text-transform: capitalize;
  border-bottom: var(--border);
  padding: 0.5rem;
}
footer {
  grid-area: footer;
  background-color: var(--grey-color);
  padding: 10px;
  color: white;
}
