body {
  --primary-color: #532906;
  --secondary-color: #065319;
  --error-color: #cf0808;
  --grey-color: rgba(33, 33, 33, 1);
  --main-icon-color: 40px;
  --button-icon-size: 40px;
  --shadow: -1px 1px 12px -2px rgba(0, 0, 0, 0.6);
  --border: 1px solid rgba(0, 0, 0, 0.4);
  user-select: none;
  background-color: white;
  color: black;
  margin: 0;
}
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
}
.icon {
  margin: 1 0.25px;
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  outline: none;
  text-decoration: none;
  color: currentColor;
  font-size: 1.2em;
  cursor: pointer;
}

main {
  grid-area: main;
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 4px;
}
nav {
  grid-area: nav;
  border-right: var(--border);
  border-left: var(--border);
  min-height: 100vh;
  display: flex;
  flex-direction: columns;
  min-width: 240px;
  padding: 8px;
  grid-area: nav;
  background-color: white;
  border-radius: 8px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 240px 48px 980px 1fr;
  grid-template-rows: min-content minmax(90vh, max-content) min-content;
  gap: 12px 12px;
  grid-template-areas:
    "appBar appBar appBar appBar appBar"
    ". nav . main ."
    "footer  footer footer footer footer";
  padding: 0;
  min-height: 100vh;
}
@media (max-width: 1980px) {
  .wrapper {
    grid-template-areas:
      "appBar  appBar appBar appBar appBar "
      " . nav  .  main  .   "
      "footer footer footer  footer footer";
    grid-template-columns: 1fr 240px 12px 800px 1fr;
    gap: 12px 12px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    grid-template-areas:
      "appBar   appBar   "
      "  nav   main "
      "footer  footer   ";
    grid-template-columns: 1fr 4fr;
    gap: 12px 12px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    grid-template-areas:
      "appBar  "
      "  main "
      "footer ";
    grid-template-columns: 100%;
    gap: 12px 12px;
  }
  main {
    box-shadow: none;
  }
  nav {
    border-radius: 0;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--primary-color);
  text-transform: capitalize;
  border-bottom: var(--border);
  padding: 0.5rem;
}
footer {
  grid-area: footer;
  background-color: var(--grey-color);
  padding: 10px;
  color: white;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--primary-color);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
button {
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 8px 12px;
  font-weight: 800;
  font-size: larger;
}
button:disabled {
  color: white;
  background-color: black;
  border-color: black;
  opacity: 0.6;
}
button:focus {
  opacity: 0.8;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
